@charset "UTF-8";

body {
    background-color: crimson;
}

h1 {
    font: normal 30pt 'Arial';
    color: white;
    text-align: center;
}

section {
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    font: normal 12pt 'Arial';
    text-align: center;
}

#btn {
    background-color: crimson;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 8px;
    margin-left: 10px;
}

select {
    margin-top: 20px;
    width: 200px;
    padding: 10px;
}